body {
  background-color: #484848;
  font-family: 'Roboto';
}

circle {
    fill: black;
    opacity: .5;
}

button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

h1 {
  text-align: center;
  color: white;
  font: Arial;
}
/* TOOLTIPS */

.d3-tip {
    line-height: 1.5;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 2px;
    line-height: 1.1;
    font-size: 10px;
    max-width: 200px;
}
/*
.tooltip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    position: absolute;
    max-width: 400px;
}


/* Creates a small triangle extender for the tooltip */

.tooltip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.tooltip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}*/

.date, .retweet-stats {
    font-weight: lighter;
    font-size: 12px;
}

.tweet-text {
    margin: 10px 0px;
    display: block;
}


/* AXIS */
/*
.axis path {
    display: none;
}

.axis line {
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
*/
